* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: #fafafa;
    font-size: 14px;
}

.instagram {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.instagram-phones {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.instagram-phones img {
    width: 100%;
}

.instagram-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    max-width: 350px;
    min-height: 80%;
}

.groups {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    width: 100%;
    padding: 10px 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.groups:nth-child(1) {
    min-height: 340px;
}

.instagram-logo {
    height: 50px;
    padding-top: 10px;
}

.perfil-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.perfil-instagram img{
    height: 150px;
}

.login {
    background: #0094f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.logout {
    color: #0094f6;
    margin-top: 10px;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.download {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.app-download {
    width: 100px;
    height: 30px;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('img/googleplay-button.png');
}

@media (max-width: 1024px) {

    .groups, .get-the-app {
        min-width: 300px;
    }

    .groups:nth-child(1) {
        min-height: 300px;
        
    }
    .instagram-phones {
        min-width: 300px;
        margin-right: 50px;
    }
}

@media (max-width: 800px) {
    .groups, .get-the-app {
        min-width: 250px;
    }
    .instagram-phones {
        min-width: 300px;
    }
}

@media (max-width: 650px) {

    
    .instagram-phones {
        display: none;
    }
}   